@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"),
    url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Semibold.woff2") format("woff2"),
    url("../fonts/Manrope-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"),
    url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl.woff2") format("woff2"),
    url("../fonts/SuisseIntl.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$first-color: #6b8e85;
$second-color: #fff;
$third-color: #212121;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 0.6;
}

html {
  margin: 0 auto;
}

body {
  font-family: "Manrope", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}
.block {
  display: flex;
}
.subblock1 {
  width: 65%;
}
.subblock2 {
  width: 35%;
}
.subblock2 p {
  width: 100%;
  max-width: 230px;
}
.website__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 21px 21px 114px 21px;
  background: $third-color;
  color: $second-color;
}
.website__info_desc {
  max-width: 352px;
}
.block1,
.block3 {
  justify-content: flex-end;
}
.block1 {
  margin-bottom: 22px;
}
.block5 {
  margin-top: 93px;
}
.block3 {
  margin: 26px 0 27px;
}
.block3 img {
  width: 100%;
  max-width: 457px;
}
.website__title {
  max-width: 948px;
}
.website__title p {
  font-size: 120px;
  font-weight: 800;
  line-height: 100px;
  letter-spacing: -0.06em;
  color: $first-color;
  text-transform: uppercase;
}
.website__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 709px;
}
.website__info_left {
  padding-top: 119px;
  display: flex;
  flex-direction: column;
}
.website__info_left p {
  max-width: 239px;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}
.website__info_left span {
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  color: $first-color;
  text-transform: uppercase;
}
.website__info_left p:nth-child(1) {
  padding-bottom: 449px;
}
.website__info_left p:nth-child(2) {
  padding-bottom: 464px;
}
.website__info_logo {
  width: 270px;
}
.subblock p {
  font-size: 19px;
  font-weight: 600;
  line-height: 26px;
}
.website__info_img {
  margin: 26px 0;
  width: 100%;
}
.website__info_img img {
  width: 100%;
}
.website__info_steps li {
  font-size: 17px;
  font-weight: 400;
  line-height: 23.4px;
}
.website__info_steps li:not(:nth-child(1)) {
  margin-left: 30px;
}
.website__info_steps {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  max-width: 457px;
}
.website__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.website__contacts p {
  font-size: 20px;
  font-weight: 500;
  line-height: 27.32px;
}
.website__contacts span,
.contacts {
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  color: $first-color;
  text-transform: uppercase;
}
.mobile_img,
.mobile_logo {
  display: none;
}
@media only screen and (max-width: 1910px) {
  .website__title p {
    font-size: 6vw;
    line-height: 100%;
    max-width: 736px;
  }
}
@media only screen and (max-width: 1430px) {
  .website__wrapper {
    flex-direction: column;
  }
  .subblock p {
    font-size: 17px;
    line-height: 23px;
  }
  .website__title p {
    margin-bottom: 108px;
    font-size: 8vw;
  }
}
@media only screen and (max-width: 860px) {

  .website__wrapper {
    padding: 16px 22px 60px 24px;
  }
  .website__title p {
    font-size: 86px;
    line-height: 84px;
  }
  .block1 {
    margin-bottom: 51px;
  }
  .block3 {
    margin: 22px 0;
  }
  .block5 {
    margin-top: 77px;
  }
  .subblock p {
    font-weight: 400;
  }
  .website__info_desc {
    max-width: 434px;
  }
  .website__info {
    align-self: flex-end;
  }
}
@media only screen and (max-width: 770px) {
  .website__wrapper {
    padding: 25px 10px 43px;
  }
  .website__title p {
    font-size: 43px;
    line-height: 42px;
    max-width: 341px;
    margin-bottom: 79px;
  }
  .block1 {
    margin-bottom: 22px;
  }
  .block1 .subblock1,
  .block3 .subblock1 {
    width: 100%;
  }
  .block4 {
    justify-content: space-between;
  }
  .website__info_steps {
    padding-left: 14px;
  }
  .block5 {
    margin-top: 79px;
  }
  .website__info_steps {
    flex-direction: column;
  }
  .website__info_img img {
    margin-left: -260px;
  }
  .website__info_steps li:not(:nth-child(1)) {
    margin-left: 0;
  }
  .website__info_steps li br {
    display: none;
  }
  .website__info_img {
    margin: 20px 0 22px;
  }
  .website__info p,
  .website__info_steps li {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
  .block2 .subblock2 p {
    max-width: 150px;
  }
  .mobile_img {
    display: block;
    position: absolute;
    top: 390px;
  }
  .mobile_logo {
    display: block;
    max-width: 167px;
  }
  .website__info_logo {
    // display: none;
  }
  .website__contacts p {
    font-size: 15px;
    line-height: 22px;
  }
  .website__contacts span,
  .website__info_left span {
    font-size: 14px;
    line-height: 20px;
  }
  .website__info_left p:nth-child(2) {
    padding-bottom: 339px;
    padding-top: 22px;
  }
  .website__info_desc {
    max-width: 179px;
  }
}
@media only screen and (max-width: 560px) {
  .website__info_steps {
    padding-left: 14px;
    max-width: 196px;
  }
  .subblock2 {
    width: 60%;
  }
}
@media only screen and (max-width: 420px) {
  .website__info_steps li {
    font-size: 14px;
  }
  .website__info_steps {
    padding-left: 14px;
    max-width: 196px;
  }
  .mobile_img {
    top: 400px;
  }
}
@media only screen and (max-width: 380px) {
  .mobile_img {
    top: 430px;
    max-width: 290px;
  }
  .website__title p {
    font-size: 36px;
  }
  .website__info p,
  .website__info_steps li {
    font-size: 13px;
  }
  .block2 .subblock1 p {
    margin-left: 10px;
  }
  .website__info_steps {
    margin-left: 10px;
  }
}
